/*
Project Name: Customprints4me
Author: Biak Sang

-----------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	background: #eaeaeb;
}

.logo {
	float: left;
	margin-left: 5px;
}

.nav {
	display: none;
}

.navbar {
	width: 100%;
	top: 0;
	background: #342519;
	border-bottom: 2px solid #ccc;
	overflow: hidden;
	margin-bottom: 0;
	position: fixed;
	z-index: 100000;
}

.globalNav {
	margin-top: 55px;
}

.globalNav .nav li {
	width: 100%;
	height: 4em;
	color: #f0f0f0;
	line-height: 4em;
	border-bottom: 1px solid #333;
	background: #2b2215;
}

.globalNav .nav li a {
	display: block;
	font-family: helvetica, arial, sans-serif;
	font-size: 1em;
	color: #f0f0f0;
	text-indent: 10px;
}

.globalNav .nav li i {
	margin-left: 10px;
	margin-top: 25px;
}

.landingPage {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.intro {
	height: 240px;
	background: url(../img/brick.png);
	background-position:center;
}

.input-append  {
	margin-bottom: 0px;
}
.intro h1{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 4em;
	text-transform: uppercase;
	font-weight: bold;
	color: #f0f0f0;
	text-align: center;
	margin-bottom: -10px;
}

.intro p {
	font-family: 'Spirax', cursive;
	font-size: 1.8em;
	color: #fee8c7;
	margin-bottom: 2px;
	text-align: center;
	/*text-transform: uppercase;*/
}

.search-bar {
	width: 100%;
	text-align: center;
	background: #f0f0f0;
	margin-top: 55px;
	visibility: false;
	padding: 5px 0;
	/*display: none;*/
}

.navbar-inverse .btn-navbar {
	background: #0993d2;
}

.navbar-inverse .btn-navbar:hover {
	background: #ed4d4a;
}


.search-bar input {
	border: 1px solid #ccc;
}

.btnBackground {
	background: #f0f0f0;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.btnBackground .createNow {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 21px;
	border-radius: 0px;
	text-transform: uppercase;
}

.designContest, .mediaThumbnail{
	margin-bottom: 2px;
}

.contents article {
	padding-left: 10px;
	margin-bottom: 15px;
	font-family: Helvetica, Arial, sans-serif;

}

.contentTitle{
	width: 100%;
	/*margin-right: auto;
	margin-left: auto;*/
	font-size: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	padding-top: .5em;
	background: #f4f3f3;
	padding-bottom: .5em;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.customButton {
	background: #00aeef;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	padding-top: .8em;
	padding-bottom: .8em;
	margin-top: -.6em;
	text-align: center;
	margin-bottom: 10px;
	border: 1px solid #4ba1d1;
}


.createNewShirtForm{
	display: none;
}

.media {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px; 
	margin-top: -11px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.mediaTitle {
	background: #d1d5d9;
	border-left: 5px solid #dc521d;
	text-indent: 10px;
	padding-top: 2px;
	padding-bottom: 5px;
}


.mediaTitle h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-top: 5px;
	font-weight: bold;
}

.mediaTitle p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: .9em;
	line-height: 20px;
	/*font-style: italic;*/
}

.rightIcon {
	float: right;
	margin-right: 10px;
	margin-top: -25px;
}

.customButton a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	color: #fff;
	display: block;
	text-decoration: none;
}

.landingPage h1 {
	font-family: Bank Gothic, Arial, sans-serif;
	font-size: 30px;
	font-weight: lighter;
	text-transform: uppercase;
	margin-top: 10px;
	text-indent: 10px;
	color: #f4f4f4;
}

.loginForm {
	margin-top: 30px;
}

.login {
	margin-top: 10px;
}

.login input {
	width: 90%;
	height: 40px;
	border: 1px solid #ccc;
	margin-bottom: -10px;
	margin-left: 15px;
}

.loginbtn {
	height: 40px;
	width: 90%;
	margin-left: 15px;
}

.createShirtForm{
	height: 40px;
	width: 90%;
	margin-left: 15px;
}

.createShirtForm input {
	width: 100%;
	height: 40px;
	border: 1px solid #ccc;
	margin-bottom: -10px;
}

.createNew {
	width: 79%;
	background: #d84a1c;
	margin-left: 13px;
	margin-bottom: 15px;
	margin-top: -5px;
	border: 1px solid #ddd;
}

.addNewDesign {
	height: 45px;
	width: 92%;
	background: #d84a1c;
	margin-left: 13px;
	margin-bottom: 15px;
	margin-top: -5px;
	border: 1px solid #ddd;
}

.help {
	width: 84.5%;
	height: 6%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1%;
	margin: -15px 0 0 15px;
}

.fb-login {
	height: 40px;
	line-height: 30px;
	background: #46629e;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	margin-top: 10px;
	text-shadow: none;
	border: 1px solid #333;
}

.fb-login a {
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-size: 1em;
}

.ing-login {
	height: 40px;
	line-height: 30px;
	background: #ad7148;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	text-shadow: none;
	margin-top: -5px;
	border: 1px solid #333;
}

.ing-login a {
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-size: 1em;
}

.registerUser {
	margin-top: 30px;
}

.canvas {
	min-height: 100%;
}

.colorChoice {
	width: 10%;
/*	height: 80%;*/
	float: left;
}

.tShirtCanvas {
	width: 90%;
	padding-top: 20px;
	text-align: center;
}

.getPhotoContainer {
	width: 100%;
	position: fixed;
  	background: #222;
  	bottom: 0;
  	height: 50px;
  	padding-top: 5px;
  	padding-bottom: 3px;
  	border-top: 1px solid #ccc;
  	clear:both;
}

.getPic {
	width: 48px;
	height: 48px;
	margin: 0 auto;
	background: url(../img/camera.png) no-repeat;
}

.getPhoto {
	opacity: 0;
	height: 25px;
	padding-top: 15px;
	margin-left: -20px;
}

.center {
	margin-top: 6px;
	margin-left: 7px;
}

.colorChoice {
	margin-top: 70px;
}

.colorChoice ul li {
	list-style-type: none;
}
.colorChoice ul li a {
	line-height: 30px;
	text-align: center;
	margin-bottom: 5px;
	margin-left: 10px;
	color: #ccc;
	text-decoration: none;
}

.blueShirt {
	width: 30px;
	height: 30px;
	display: block;
	background: #04678c;
	color: #fff;
}

.whiteShirt {
	width: 28px;
	height: 28px;
	display: block;
	border: 1px solid #ccc;
	background: #fff;
	color: #999;
}

.redShirt {
	width: 30px;
	height: 30px;
	display: block;
	border: 1px solid #ccc;
	color: #fff;
	background: #801212
}

.greenShirt {
	width: 30px;
	height: 30px;
	display: block;
	border: 1px solid #ccc;
	color: #fff;
	background: #007c10;
}

.fbUserInfo {
	display: none;
}

#tshirtPicture {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 80px;
	top: 40px;
}

.customShirt {
	width: 225px;
	height: 225px;
	margin: 20px auto 0;
	position: relative;
	background: url(../img/blue-shirt.png);
}

.contact {
	width: 90%;
	margin: 0 auto;
	font-size: 1em;
	font-family: helvetica, arial, sans-serif;
}

.contact div {
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc;
	padding-bottom: 10px;
}

.contact label {
	font-weight: bold;
	width: 80px;
	overflow: hidden;
	margin-right: 10px;
	text-align: right;
}

.contact .city {
	text-indent: 90px;
}