<div class="span12">
				<div class="row-fluid">
					<h1 class="contentTitle">Contact</h1>
					<div class="contact">
						<div>
							<label class="pull-left">Company:</label>
							<h2>Custom Prints 4me</h2>
						</div>

						<div>
							<label class="pull-left">Address:</label>
							<p>123 Adam Apple Ct.</p>
							<p class="city">Orlando, FL 32809</p>
						</div>

						<div>
							<label class="pull-left">Phone:</label>
							<p>Phone: (407) 567-2345</p>
						</div>

						<div>
							<label class="pull-left">Email:</label>
							<p>customprints@me.com</p>
						</div>
					</div>
				</div>
			</div>