<div class="span12 canvas">
	<div class="colorChoice" ng-controller="CreateTshirt">
		<ul>
			<li><a class="blueShirt" ng-click="blueShirt()">B</a></li>
			<li><a class="whiteShirt" ng-click="whiteShirt()">W</a></li>
			<li><a class="redShirt" ng-click="redShirt()">R</a></li>
			<li><a class="greenShirt" ng-click="greenShirt()">G</a></li>
		</ul>
	</div>
	<div class="tShirtCanvas pull-right">
		<div class="customShirt">
			<canvas width="80" height="130" id="pictureCanvas"></canvas>
		</div>
	</div>

	<div class="getPhotoContainer">
		<ul class="getPic">
			<input class="getPhoto" type="file" ng-model="shirt.picture" onchange="angular.element(this).scope().update_image(this)">
		</ul>
	</div>
</div>