<div class="span12 canvas">
	<div class="colorChoice">
		<ul>
			<li><a class="blueShirt" href="#">B</a></li>
			<li><a class="whiteShirt" href="#">W</a></li>
			<li><a class="redShirt" href="#">R</a></li>
			<li><a class="greenShirt" href="#">G</a></li>
		</ul>
	</div>
	<div class="tShirtCanvas pull-right">
		<div>
			<img class="tShirtCanvasColor" src="img/blue-shirt.png">
		</div>
	</div>

	<div class="CustomButtons">
		<ul>
			<li class="pull-left"><a href="#"><img class="center" src="img/facebook.png" width="34" height="34"></a></li>
			<li class="pull-left"><a href="#"><img class="center" src="img/instagram.png " width="34" height="34"></a></li>
			<li class="pull-left"><a href="#" ng-model='myPicture'><img src="img/camera.png"></a></li>
			<li class="pull-left"><a href="#"><img class="center" src="img/addCart.png" width="34" height="34"></a></li>
			<li class="pull-left"><a href="#"><img class="center" src="img/share.png" width="34" height="34"></a></li>
		</ul>
	</div>
</div>