			<div class="span12 intro">

			</div>

			<div class="span12 btnBackground">
				<button class="btn btn-large btn-primary createNow" type="button" ng-click="createNewShirt()">Start Creating Shirt</button>
			</div>

			<div class="span12">
				<div class="row-fluid">
					<h1 class="contentTitle">New Custom T-Shirt</h1>
					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail01.png">
						</a>
						<div class="mediaTitle">
							<h3>Leziwin Tshirt Design</h3>
							<p>Design by: Biak Sang</p>
						</div>

						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail02.png">
						</a>
						<div class="mediaTitle">
							<h3>Summer Design</h3>
							<p>Design by: Biak Sang</p>
						</div>
						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail03.png">
						</a>
						<div class="mediaTitle">
							<h3>Leziwin Tshirt Design</h3>
							<p>Design by: Biak Sang</p>
						</div>
						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="customButton">
						<a href="#/products">More Custom Tshirt Design</a>
					</div>

				</div>
			</div>

