			<div class="span12 intro"></div>

			<div class="span12 btnBackground">
				<a href="#/create_shirt" class="btn btn-large btn-primary createNow" type="button">Start Creating Shirt</a>
			</div>

			<div class="span12" ng-controller="Designs">
				<div class="row-fluid">
					<h1 class="contentTitle">New Custom T-Shirt</h1>

						<div class="media" ng-repeat="shirt in shirts | limitTo:3">
							<img class="mediaThumbnail" src={{shirt.imgUrl}}>
							<div class="mediaTitle">
								<h3>{{shirt.designTitle}}</h3>
								<p>Design by: {{shirt.designer}}</p>
							</div>
						</div>

					<div class="customButton">
						<a href="#/designs">More Custom Tshirt Design</a>
					</div>

				</div>
			</div>

