<div class="span12 intro">
				<h1>Custom</h1>
				<p>Prints4.me</p>

				<div class="span12">
					<img src="img/tshirt-model.png">
				</div>
			</div>

			<div class="span12 btnBackground">
				<a href="#/create_shirt"><button class="btn btn-large btn-primary createNow" type="button">Start Creating Shirt</button></a>
			</div>

			<div class="span12">
				<div class="row-fluid">
					<h1 class="contentTitle">New Custom T-Shirt</h1>
					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail01.png">
						</a>
						<div class="mediaTitle">
							<h3>Leziwin Tshirt Design</h3>
							<p>Design by: Biak Sang</p>
						</div>

						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail02.png">
						</a>
						<div class="mediaTitle">
							<h3>Summer Design</h3>
							<p>Design by: Biak Sang</p>
						</div>
						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail03.png">
						</a>
						<div class="mediaTitle">
							<h3>Leziwin Tshirt Design</h3>
							<p>Design by: Biak Sang</p>
						</div>
						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="span12 customButton">
						<a href="#/products">More Custom Tshirt Design</a>
					</div>

				</div>
			</div>

