<div class="span12 loginForm">
				<form class="form-horizontal" ng-controller="Login">
					<div class="control-group login">
					    <input type="text" id="inputEmail" placeholder="Email" ng-model="user.email" required>
					</div>

				  	<div class="control-group login">
					    <input type="password" id="inputPassword" placeholder="Password" ng-model="user.password" required>
				  	</div>

				  	<div class="control-group login">
					    <button type="submit" class="btn loginbtn" ng-click="login()">Sign in</button>
					</div>
					s
					<div class="help">
						<a href="#/registration" class="pull-left">Create an account</a>
						<a href="#" class="pull-right">Forgot Password?</a>
						<div class="clearFix"></div>
					</div>

					<div class="fbUserInfo">
						<img src="#" pull-left>
						<p></p>
					</div>
					<div class="control-group login">
					    <button type="submit" class="btn loginbtn fb-login" ng-click="fbLogin()">Login with facebook</button>
					</div>
				</form>
			</div>