<div class="span12 loginForm">
				<form class="form-horizontal" ng-controller="Login">
					<div class="control-group login">
					    <div class="controls">
					    	<input type="text" id="inputEmail" placeholder="Email">
					    </div>
					</div>

				  	<div class="control-group login">
					    <div class="controls">
					    	<input type="password" id="inputPassword" placeholder="Password">
					    </div>
				  	</div>

				  	<div class="control-group login">
					    <div class="controls">
					    	<button type="submit" class="btn loginbtn">Sign in</button>
					    </div>
				 	 </div>
				</form>

				<div class="help">
					<a href="#/registration" class="pull-left">Create an account</a>
					<a href="#" class="pull-right">Forgot Password?</a>
					<div class="clearFix"></div>
				</div>

				<div class="fb-login">
					<a href="#" ng-click="login()">Login with facebook</a>
				</div>

				<div class="ing-login">
					<a href="#">Login with Instagram</a>
				</div>
			</div>