<div class="span12 products">
				<div class="row-fluid">
					<h1 class="contentTitle">Our Products</h1>
					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail01.png">
						</a>
						<div class="mediaTitle">
							<h3>Leziwin Tshirt Design</h3>
							<p>Design by: Biak Sang</p>
						</div>

						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail02.png">
						</a>
						<div class="mediaTitle">
							<h3>Summer Design</h3>
							<p>Design by: Biak Sang</p>
						</div>
						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail03.png">
						</a>
						<div class="mediaTitle">
							<h3>Leziwin Tshirt Design</h3>
							<p>Design by: Biak Sang</p>
						</div>
						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail01.png">
						</a>
						<div class="mediaTitle">
							<h3>Leziwin Tshirt Design</h3>
							<p>Design by: Biak Sang</p>
						</div>

						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail02.png">
						</a>
						<div class="mediaTitle">
							<h3>Summer Design</h3>
							<p>Design by: Biak Sang</p>
						</div>
						<i class="icon-chevron-right rightIcon"></i>
					</div>

					<div class="media">
						<a class="mediaThumbnail" href="#">
							<img src="img/thumbnail03.png">
						</a>
						<div class="mediaTitle">
							<h3>Leziwin Tshirt Design</h3>
							<p>Design by: Biak Sang</p>
						</div>
						<i class="icon-chevron-right rightIcon"></i>
					</div>
				</div>
			</div>