<form class="form-horizontal registerUser">
					<div class="control-group login">
					    <div class="controls">
					    	<input type="text" id="inputName" placeholder="Full Name">
					    </div>
					</div>

					<div class="control-group login">
					    <div class="controls">
					    	<input type="text" id="inputEmail" placeholder="Email">
					    </div>
					</div>

				  	<div class="control-group login">
					    <div class="controls">
					    	<input type="password" id="inputPassword" placeholder="Password">
					    </div>
				  	</div>

				  	<div class="control-group login">
					    <div class="controls">
					    	<input type="password" id="inputPassword" placeholder="Confirm Password">
					    </div>
				  	</div>

				  	<div class="control-group login">
					    <div class="controls">
					    	<button type="submit" class="btn loginbtn">Register</button>
					    </div>
				 	</div>
				</form>